@CHARSET "ISO-8859-1";

#printDiv {
	padding: 30px;
	font-family: 'Trebuchet MS';
	width: 900px;
	font-size: 12px;
	line-height: 24px;
}

.tabla-orden-produccion {
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	width: 100%;
}

.tabla-orden-produccion TD {
	padding: 5px;
	font-size: 12px;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.title-td {
	background-color: #DDD;
	font-weight: bold;
	color: #222;
}

.data-td {
	text-align: center;
}

.title {
	font-size: 24px;
	font-weight: bold;
}